html,
body {
    background-color: RGB(51, 51, 51);
}

.container {
    margin: 0px auto;
    width: 700px;
    color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #fff;
    font-size: 75px;
    margin: 0px;
}

.controller {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.break,
.session {
    text-align: center;
    margin: 10px;
}

button {
    outline: none;
    border: none;
    background: RGB(51, 51, 51);
    color: #fff;
    font-size: 30px;
}

.break span,
.session span {
    font-size: 40px;
}

.timer {
    border: solid 2px rgb(153, 204, 0);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    padding: 0px;
    position: relative;
    display: table;
    overflow: hidden;
    z-index: 20;
}

.content {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}


.timer::before {
    content: '';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    border: solid 4px RGB(51, 51, 51);
    border-radius: 50%;
    z-index: 2;
    margin: 0px;
}

.fill {
    content: '';
    border: solid 2px #333;
    position: absolute;
    background: #555;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}